#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover
}
.container-list-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}
