* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
  }
  
  a {
	text-decoration: inherit;
  }

  button {
	border: 1px solid transparent;
	background-color: #D93F3F;
	color: #ffffff;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
  }

.App {
	max-width: 1280px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}
.input-style {
	border: transparent;
	padding: 0.7em;
	font-size: 1rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

/* ========= WELCOME PAGE ============= */

.container-intro-page {
	display: flex;
	/* min-height: 100vh; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 3em;
	margin-top: 14em;
	padding: 0 2em;
}
.container-welcome {
	text-align: center;
}
.greeting-text {
	font-weight: 600;
	color: rgba(254, 25, 54, 1);
	font-size: 28px;
	margin-bottom: 0.5em;
}
.container-input {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	min-width: 250px;
}
.bg-red-black {
	height: 80px;
	background: linear-gradient(to top, black 0%, black 35%, red 35%, red 100%);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
}
.pokeball {
	border-radius: 50%;
	box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 13px #fff, 0px 0px 0px 20px #000;
	width: 25px;
	height: 25px;
	background-color: rgb(54, 53, 53);
	margin-top: 2em;
}

/* ======= POKEMON COMPONENT =========== */
.bg-top {
	top: 0;
	bottom: none;
	padding: 0 1em;
	z-index: -1;
}
.container-title {
	display: flex;
	justify-content: space-between;
}
.pokeball-top {
	margin-top: 3.3em;
	margin-right: 1em;
}
.pokemon-title-img {
	max-width: 220px;
	object-fit: contain;
}
.container-pokemon-page {
	padding: 0 1em;
}
.container-pokemon-welcome {
	display: flex;
	padding-top: 2em;
	font-size: 18px;
	flex-direction: column;
}
.container-pokemon-welcome b {
	color: rgba(254, 25, 54, 1);
	font-size: 22px;
}
.container-search {
	margin: 1em 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}
.select {
	width: 100%;
	border: transparent;
	padding: 1em;
	font-size: 1rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}
.container-list-pokemon {
	margin-top: 3em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* ========== POKEMON CARD ============= */

.pokemon-card {
	border: 1px solid black;
	border-radius: 15px;
	padding: 1em;
	background-color: #add7a2;
}
.pokemon-card-img {
	background: linear-gradient(red, blue);
	border-radius: 15px 15px 0 0;
	max-height: 100px;
}
.pokemon-card-img img {
	max-width: 177px;
	margin: 0 auto;
	margin-bottom: -5em;
}
.pokemon-card-info {
	padding-top: 5em;
	background-color: #fff;
	border-radius: 0 0 15px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pokemon-card-name {
	font-size: 25px;
	font-weight: 600;
	text-transform: capitalize;
}
/* ======== CONTAINER BUTTONS PAGINATION ====== */
.container-total-buttons {
	display: flex;
	justify-content: space-between;
}
.container-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	text-align: center;
	justify-content: center;
}
.container-buttons button {
	flex: 1;
	min-width: 80px;
	max-width: 80px;
}

/* ========== MEDIA QUERIES DESKTOP ============== */

@media screen and (min-width: 768px) {
	.container-intro-page {
		row-gap: 4em;
		padding-bottom: 5em;
	}
	.poke-title {
		max-width: 650px;
	}
	.greeting-text {
		font-size: 50px;
	}
	.greeting-text-secundary {
		font-size: 25px;
	}
	.container-input {
		flex-direction: row;
		min-width: 650px;
		font-size: 24px;
	}
	.container-input input {
		width: 100%;
		font-size: 24px;
	}
	.container-input button {
		min-width: 33%;
	}
	.bg-red-black {
		height: 160px;
	}
	.pokeball {
		box-shadow: 0px 0px 0px 10px #000, 0px 0px 0px 20px #fff,
			0px 0px 0px 30px #000;
		width: 35px;
		height: 35px;
		margin-top: 6em;
	}
}
