/* ========= WELCOME PAGE ============= */

.container-intro-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 2em;
	margin-top: 10em;
	padding: 0 2em;
	background-color: #fff;
}
.container-welcome {
	text-align: center;
}
.greeting-text {
	font-weight: 600;
	color: rgba(254, 25, 54, 1);
	font-size: 28px;
	margin-bottom: 0.5em;
}
.container-input {
	margin-top: -1em;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	width: 100%;
}
.bg-red-black {
	height: 80px;
	background: linear-gradient(
		to top,
		black 0%,
		black 35%,
		#dd1a1a 35%,
		#dd1a1a 100%
	);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: flex;
	justify-content: center;
}
.pokeball {
	border-radius: 50%;
	box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 13px #fff, 0px 0px 0px 20px #000;
	width: 25px;
	height: 25px;
	background-color: rgb(54, 53, 53);
	margin-top: 2em;
}

/* ======= POKEMON COMPONENT =========== */
.bg-top {
	top: 0;
	bottom: none;
	padding: 0 1em;
	z-index: -1;
}
.container-title {
	display: flex;
	justify-content: space-between;
}
.pokeball-top {
	margin-top: 3.3em;
	margin-right: 1em;
}
.pokemon-title-img {
	max-width: 220px;
	object-fit: contain;
}
.container-pokemon-page {
	padding: 0 1em;
}
.container-pokemon-welcome {
	display: flex;
	padding-top: 2em;
	font-size: 18px;
	flex-direction: column;
}
.container-pokemon-welcome b {
	color: rgba(254, 25, 54, 1);
	font-size: 22px;
}
.container-search {
	margin: 1em 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}
.select {
	width: 100%;
	border: transparent;
	padding: 1em;
	font-size: 1rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}
.container-list-pokemon {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(261px, 1fr));
	gap: 1em;
}
.flex-search {
	margin-bottom: 3em;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
	font-size: 1.2em !important;
}
.css-wjh20t-MuiPagination-ul {
	flex-wrap: nowrap !important;
}
/* ========== POKEMON CARD ============= */

.pokemon-card {
	border: transparent;
	border-radius: 15px;
	padding: 1em;
}
.pokemon-card-img {
	border-radius: 15px 15px 0 0;
	max-height: 100px;
}
.pokemon-card-img img {
	max-width: 177px;
	margin: 0 auto;
	/* margin-bottom: -5em; */
}
.pokemon-card-info {
	padding-top: 5em;
	background-color: #fff;
	border-radius: 0 0 15px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pokemon-card-name {
	font-size: 25px;
	font-weight: 600;
	text-transform: capitalize;
}
.pokemon-card-type {
	color: #4f4f4f;
}
.pokemon-card-stats {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	padding: 2em 1em;
	flex-wrap: wrap;
	gap: 1.5em;
}
.pokemon-stats {
	text-align: center;
	min-width: 120px;
}
.pokemon-stats p {
	color: #9f9f9f;
}
.pokemon-stats span {
	/* color: var(--grass); */
	font-weight: 600;
	font-size: 20px;
}
/* ======== CONTAINER BUTTONS PAGINATION ====== */

.container-total-buttons {
	display: flex;
	justify-content: space-between;
}
.container-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	text-align: center;
	justify-content: center;
}
.container-buttons button {
	flex: 1;
	min-width: 80px;
	max-width: 80px;
}

/* ======== POKEMON DETAILS ======== */
.container-pokemon-detail {
	max-width: 345px;
	margin: 0 auto 3em;
}
.pokemonDetail-info {
	border: 2px solid #fff;
	box-shadow: 1px 1px 5px 3px #ccc;
	margin-top: 5em;
	border-radius: 5px;
}
.pokemon-details-img {
	border-radius: 5px 5px 0 0;
	background: var(--linear-grass);
	text-align: center;
	position: relative;
	height: 120px;
}
.pokemon-details-img img {
	max-width: 200px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: -80px;
}
.pokemon-details-name {
	text-align: center;
	padding: 2em 0;
	position: relative;
}
.details-id {
	font-size: 20px;
	font-weight: 600;
	border: 1px solid rgb(227, 225, 225);
	padding: 0 0.5em;
	border-radius: 3px;
}
.details-name {
	font-size: 25px;
	font-weight: 600;
	text-transform: capitalize;
	padding: 0.7em;
}
.details-container-weight-height {
	display: flex;
	justify-content: center;
	column-gap: 1em;
}
.details-w-h {
	display: flex;
	flex-direction: column;
}
.details-w-h span:first-child {
	font-size: 12px;
	margin-bottom: 0.5em;
}
.details-w-h span:nth-child(2) {
	font-size: 20px;
	font-weight: 600;
}
.details-type-abilities {
	text-align: center;
	margin-bottom: 2em;
}
.details-type-abilities-title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 1.5em;
}
.flex-type-abilities {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1em;
}
.container-stats {
	padding: 0 1em;
}
.details-type-abilities span {
	border: 1px solid #ccc;
	margin: 0 0.5em;
	padding: 0.3em 0;
	text-transform: capitalize;
	font-weight: 600;
	width: 200px;
}
.details-title {
	margin-bottom: 1.5em;
	font-size: 20px;
	font-weight: 600;
}
.container-title-stats {
	display: flex;
	justify-content: space-between;
}
.container-title-stats span {
	font-weight: 600;
	margin-bottom: 0.5em;
}
.bar-stats {
	width: 100%;
	height: 25px;
	background-color: #f7f7f7;
}
.bar-stats-progress {
	height: 25px;
	background: linear-gradient(90deg, #fcd676 -2.25%, #e6901e 133.18%);
}
.container-movements {
	padding: 2em 1em;
}

/* ========== MEDIA QUERIES DESKTOP ============== */

@media screen and (min-width: 768px) {
	.container-pokedex {
		max-width: 1280px;
	}
	.container-intro-page {
		row-gap: 4em;
		padding-bottom: 5em;
	}
	.poke-title {
		max-width: 650px;
	}
	.greeting-text {
		font-size: 50px;
	}
	.greeting-text-secundary {
		font-size: 25px;
	}
	.container-input {
		flex-direction: row;
		max-width: 650px;
		font-size: 24px;
	}
	.container-input input {
		width: 100%;
		font-size: 24px;
	}
	.container-input button {
		min-width: 33%;
	}
	.bg-red-black {
		height: 160px;
	}
	.pokeball {
		box-shadow: 0px 0px 0px 15px #000, 0px 0px 0px 25px #fff,
			0px 0px 0px 35px #000;
		width: 45px;
		height: 45px;
		margin-top: 6em;
	}
	.container-title {
		padding-top: 1em;
	}
	.pokemon-title-img {
		max-width: 400px;
	}
	.container-pokemon-welcome {
		font-size: 24px;
		margin-bottom: 3em;
	}
	.container-pokemon-welcome b {
		font-size: 28px;
	}
	.flex-search {
		display: flex;
		align-items: center;
		column-gap: 1em;
	}
	.container-search {
		flex-direction: row;
		width: 60%;
		font-size: 25px;
	}
	.input-style {
		width: 100%;
		font-size: 3rem;
	}
	.container-select {
		width: 40%;
	}
	.container-list-pokemon {
		margin-bottom: 5em;
	}
	.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
		font-size: 1.5em !important ;
		padding: 1em !important;
		font-weight: 300 !important;
	}
	.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
		font-size: 2em !important;
		color: #dd1a1a !important;
	}
	.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
		background-color: #dd1a1a !important;
		color: #fff !important;
	}
	.container-pokemon-detail {
		padding: 2em 1em 5em;
		max-width: 1116px;
		margin: 5em auto 0;
	}
	.pokemonDetail-info {
		border: 3px solid #fff;
	}
	.pokemon-details-img {
		height: 210px;
	}
	.pokemon-details-img img {
		top: -145px;
		max-width: 350px;
	}
	.pokemon-details-name {
		margin: 2em 0;
	}
	.details-id,
	.details-name {
		font-size: 45px;
	}
	.details-container-weight-height {
		column-gap: 3em;
	}
	.details-w-h span:first-child {
		font-size: 16px;
	}
	.details-w-h span:nth-child(2) {
		font-size: 25px;
	}
	.flex-type-abilities {
		max-width: 931px;
		margin: 0 auto 3em;
		display: flex;
		column-gap: 1em;
		justify-content: center;
		flex-direction: row;
	}
	.details-type-abilities-title {
		font-size: 30px;
	}
	.details-type-abilities span {
		font-size: 25px;
		text-align: center;
		margin: 0;
	}
	.container-stats {
		max-width: 931px;
		margin: 0 auto;
		padding-bottom: 5em;
	}
	.details-title {
		font-size: 43px;
		margin-bottom: 1em;
		max-width: 931px;
		margin: 0 auto 1em;
	}
	.container-title-stats span {
		font-size: 23px;
	}
	.container-movements {
		padding: 2em 3em;
	}
}
