:root {
	--linear-grass: linear-gradient(
		178.92deg,
		#7ec6c5 0.92%,
		#abdac6 47.96%,
		#cae099 99.08%
	);
	--bg-grass: #b1dbbc;
	--text-grass: #416460;

	--linear-fire: linear-gradient(
		176.37deg,
		#f96d6f -32.26%,
		#e35825 22.55%,
		#e8ae1b 125.72%
	);
	--bg-fire: #de701c;
	--text-fire: #e75c35;

	--linear-water: linear-gradient(
		179.57deg,
		#133258 -70.14%,
		#1479fb 56.16%,
		#82b2f1 214.85%
	);
	--bg-water: #83b9ff;
	--text-water: #1479fb;

	--linear-bug: linear-gradient(
		177.56deg,
		#62db60 -58.92%,
		#3bb039 16.57%,
		#aaffa8 209.53%
	);
	--bg-bug: #92cc77;
	--text-bug: #4ab648;

	--linear-normal: linear-gradient(
		181.51deg,
		#735259 -6.44%,
		#bc6b7c 121.95%,
		#7c3f4c 186.11%
	);
	--bg-normal: #8c4f5e;
	--text-normal: #735259;

	--linear-fighting: linear-gradient(
		176.83deg,
		#96402a -8.78%,
		#f1613c 169.09%,
		#cb735d 242.33%
	);
	--bg-fighting: #bd3c26;
	--text-fighting: #96402a;

	--linear-poison: linear-gradient(
		177.03deg,
		#5b3184 -11.97%,
		#a564e3 71.28%,
		#ce9bff 135.64%
	);
	--bg-poison: #7d48b2;
	--text-poison: #5b3184;

	--linear-ghost: linear-gradient(
		177.03deg,
		#323569 -11.97%,
		#454aa8 57.49%,
		#787dda 135.64%
	);
	--bg-ghost: #393a9f;
	--text-ghost: #323569;
	--linear-rock: linear-gradient(
		177.03deg,
		#7e7e7e -11.97%,
		#8d8d94 57.49%,
		#d3d3d3 135.64%
	);
	--bg-rock: #878787;
	--text-rock: #7e7e7e;
	--linear-dark: linear-gradient(
		177.03deg,
		#030706 -11.97%,
		#0d1211 57.49%,
		#5a5e5d 135.64%
	);
	--bg-dark: #262828;
	--text-dark: #030706;
	--linear-ice: linear-gradient(
		177.03deg,
		#6fbedf -11.97%,
		#64cbf5 47.77%,
		#bdebfe 136.72%
	);
	--bg-ice: #8bcbe8;
	--text-ice: #6fbedf;
	--linear-steel: linear-gradient(
		179.75deg,
		#5e736c -19.96%,
		#728881 43.67%,
		#a8a8a8 138.4%
	);
	--bg-steel: #708b80;
	--text-steel: #5e736c;
	--linear-fairy: linear-gradient(
		179.75deg,
		#f479c5 -19.96%,
		#eeafc4 43.67%,
		#facbdb 138.4%
	);
	--bg-fairy: #fc82b9;
	--text-fairy: #ff4ebc;
	--linear-psychic: linear-gradient(
		179.75deg,
		#a263bd -19.96%,
		#af83c2 43.67%,
		#b9a6c1 138.4%
	);
	--bg-psychic: #9d88bb;
	--text-psychic: #a263bd;
	--linear-ground: linear-gradient(
		179.75deg,
		#654008 -19.96%,
		#895c1a 43.67%,
		#d69638 138.4%
	);
	--bg-ground: #78490f;
	--text-ground: #654008;
	--linear-dragon: linear-gradient(
		179.75deg,
		#478a93 -19.96%,
		#56a4ae 43.67%,
		#a2bec1 138.4%
	);
	--bg-dragon: #58a0a9;
	--text-dragon: #478a93;
	--linear-electric: linear-gradient(
		179.75deg,
		#f6df32 -19.96%,
		#f0de56 43.67%,
		#e1dcaf 138.4%
	);
	--bg-electric: #e5d76b;
	--text-electric: #d2d526;
	--linear-flying: linear-gradient(
		179.75deg,
		#68a7e7 -19.96%,
		#86b5e5 43.67%,
		#e0ecf8 138.4%
	);
	--bg-flying: #c6dbf0;
	--text-flying: #83b7ec;
}

/* ====== BASE ======= */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
}
a {
	text-decoration: inherit;
}
button {
	border: 1px solid transparent;
	background-color: #d93f3f;
	color: #ffffff;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
}
.App {
	max-width: 1280px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}
.input-style {
	border: transparent;
	padding: 0.7em;
	font-size: 1rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}
